* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: system-ui, -apple-system, Arial, Helvetica , sans-serif;
    overflow-x: hidden;
    max-height: 100%;
}

#top {
    box-sizing: border-box;
    background-color: #36454F;
    justify-content: space-around;
    height: 10vh;
    position: relative;
    z-index: 1;
}

.logo {
    position: absolute;
    font-size: 18px;
    margin-left: 45%;
    color: #FFF;
    cursor: default;
}

.lista {
    list-style: none;
    display:flex;
    margin-left: 35%;
    font-size: 16px;
    align-items: center;
    bottom: 10px;
}

.lista li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-top: 70px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.list li a:hover {
    color: rgba(114, 114, 114, 0.689);
    transition: 0.5s;
}

.linee {
    position: absolute;
    border: 0;
    background-color: #000;
    transform: scale(100%);
    height: 1px;
    width: 100%;
    margin-top: 97px;
}  

.icon div{
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;
}

.icon {
    cursor: pointer;
    margin-top: 45px;
}

input[type="checkbox"] {
    display: none;
}

.menu nav {
    position: absolute;
    width: 350px;
    left: -350px;
    height: 100%;
    transition: all .7s;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(350px);
}

nav .Menu-lista a {
    display: block;
    padding: 20px 5px;
}

nav .Menu-lista a:hover {
    background-color: rgba(54, 69, 79, .5);
}

ul.Menu-lista {
    background-color: rgba(54, 69, 79, .5);
    top: 98px;
    position: absolute;
    width: 100%;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.search-conteiner {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 85%;
    bottom: 66px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
    padding: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.search-icon::before {
    content: "";
    background-color: rgb(225, 225, 225);
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid #36454F;
}

.search-icon::after {
    content: "";
    background-color: rgb(225, 225, 225);
    width: 20%;
    height: 2px;
    background-color: #36454F;
}

.search-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 40px;
    transition: all 1s;
    margin-top: 24px;
    margin-left: 24px;
    background-color: rgb(225, 225, 225);
}

.search-input:focus {
    width: 200px;
    box-shadow: 2px 2px 5px #333;
}

.search-input:valid {
    width: 200px;
}

::placeholder {
    font-size: 15px;
    font-style: arial;
}

#conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.titulo {
    position: absolute;
    font-size: 57px;
    margin-left: 25%;
    margin-top: 18%;
}

p.resumo {
    position: absolute;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 31.5%;
}

p.escritor {
    position: absolute;
    font-size: 18px;
    margin-left: 25%;
    margin-top: 43%;
    color: #333;
}

p.localidade {
    position: absolute;
    font-size: 16px;
    margin-left: 25%;
    margin-top: 44.5%;
}

.linha {
    border: 0;
    background-color: #333;
    transform: scale(57%);
    height: 1px;
    width: 100%;
    position: absolute;
    margin-left: 3.5%;
    margin-top: 48%;
}  

nav.caixa img {
    box-sizing: border-box;
    position: absolute;
    margin-left: 35%;
    margin-top: 52%;
    width: 650px;
    height: 365px;
    border-radius: 10px;
    display: block;
}

p.ini {
    position: absolute;
    margin-top: 64%;
    font-size: 20px;
    padding: 10%;
    text-align: left;
}

.linha1 {
    border: 0;
    background-color: #333;
    transform: scale(32%);
    height: 1px;
    width: 100%;
    position: absolute;
    right: 23.5%;
    margin-top: 95%;
}  

p.anucio {
    position: absolute;
    font-size: 11px;
    margin-top: 94.5%;
    margin-left: 45%;
    color: #333;
}

.linha2 {
    border: 0;
    background-color: #333;
    transform: scale(32%);
    height: 1px;
    width: 100%;
    position: absolute;
    margin-left: 23%;
    margin-top: 95%;
}  

.linha3 {
    border: 0;
    background-color: #A9A9A9;
    transform: scale(79%);
    height: 1px;
    width: 100%;
    position: absolute;
    margin-top: 108.5%;
}  

p.anuncio img {
    position: absolute;
    width: 970px;
    height: 250px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
    margin-left: 25%;
    margin-top: 3%;
}

p.anuncio1 img {
    position: absolute;
    width: 970px;
    height: 230px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
    margin-left: 25%;
    margin-top: 95.6%;
}

.line {
    border: 0;
    background-color: #333;
    transform: scale(80%);
    height: 1px;
    width: 100%;
    margin-top: 153%;
    position: absolute;
    right: 6px;
}  

footer {
    position: absolute;
    margin-top: 157.5%;
    margin-left: 70%;
    font-size: 20px;
    height: 120px;
}

footer a {
    color: black;
    text-decoration: underline;
}

footer a:hover {
    opacity: 1;
}

.inscrição {
    position: absolute;
    left: 198px;
    margin-top: 155%;
    color: black;
}
.inscrição p {
    font-size: 25px;
    margin-bottom: 10px;
}

.inscrição input {
    width: 100%;
    margin-bottom: 40px;
}

.inscrição input[type="email"] {
    border: 1px solid;
    border-color: #000;
    outline: none;
    height: 40px;
    border-radius: 4px 0 0 4px;
    background: transparent;
    font-size: 16px;
    padding-inline: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.inscrição input[type="email"]:hover {
    border-color: rgb(0, 0, 0);
}

.inscrição input[type="submit"] {
    border: none;
    outline: none;
    background: #36454F;
    color: #FFF;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 120px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 330px;
}

.inscrição p.bagulho {
    font-size: 12px;
    position: absolute;
    bottom: -15px;
    color: #36454F;
}

a.term1 {
    color: rgba(54, 69, 79, .5);
    text-decoration: underline;
}

a.term1 {
    opacity: 1;
}